/* =========================
   GENERAL PAGE STYLING
========================= */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    min-height: 100vh;

    overflow-y: auto;
    overflow-x: hidden;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f5ef;
}


/* =========================
   HEADER SECTION
========================= */

.main-header {
    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 20px 40px;

    height: 60px;

    border-bottom: 3px solid #4b2e83;

    background-color: #f8f5ef;
}


/* =========================
   LEFT SECTION
========================= */

.header-left img {
    width: 120px;

    height: auto;
}


/* =========================
   CENTER SECTION
========================= */

.header-center {
    text-align: center;

    flex: 1;
}

.header-center h1 {
    margin: 0;

    color: #4b2e83;

    font-size: 34px;

    font-weight: bold;

    line-height: 1.3;
}


/* =========================
   RIGHT SECTION
========================= */

.header-right img {
    width: 180px;

    height: auto;
}

/* =========================
   OVERVIEW SECTION
========================= */

.overview-section {
    height: 350px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 30px;

    padding: 30px 60px;

    border-bottom: 3px solid #4b2e83;

    background-color: #f8f5ef;

    box-sizing: border-box;

    overflow: hidden;
}

.overview-left {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 5px;

    height: 100%;

    overflow: hidden;
}

.overview-right {
    height: 100%;

    overflow: hidden;
}

.burger-image-box {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.burger-image-box img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.intro-text-box {
    height: 100%;

    overflow: hidden;
}

.intro-text-box h3,
.overview-right h3 {
    margin: 0 0 15px 0;

    color: #4b2e83;

    font-size: 20px;
}

.intro-text-box p {
    margin: 0;

    font-size: 14px;

    line-height: 1.35;
}

#dot-map {
    width: 100%;
    height: 280px;
}

/* =========================
   FAST FOOD CONSUMPTION SECTION
========================= */

.fastfood-section-part1 {
    height: 350px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 30px;

    padding: 30px 60px;

    border-bottom: 3px solid #4b2e83;

    background-color: #f8f5ef;

    box-sizing: border-box;

    overflow: hidden;
}

.fastfood-chart-box,
.fastfood-text-box {
    height: 100%;

    overflow: hidden;
}

.fastfood-section-part1 h2 {
    margin: 0 0 15px 0;

    color: #4b2e83;

    font-size: 26px;
}

.fastfood-section-part1 p {
    margin: 0;

    font-size: 20px;

    line-height: 1.35;
}

#pie-chart,
#bar-chart {
    width: 100%;

    height: 260px;
}
