/* =========================
   GENERAL PAGE STYLING
========================= */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    min-height: 100vh;

    overflow-y: auto;
    overflow-x: hidden;

    font-family: 'Fredoka', sans-serif;
    background-color: #efe6d6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Prata', sans-serif;
    text-align: center;
}

.slideshow {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slideshow .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slideshow .slide.active {
    opacity: 1;
}


/* =========================
   HEADER SECTION
========================= */

.main-header {
    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 20px 10px;

    height: 60px;

    border-bottom: 5px solid #6b4f3b;

    border-top: 5px solid #6b4f3b;

    background-color: #ffd23f;
}


/* =========================
   LEFT SECTION
========================= */

.header-left img {
    width: 180px;

    height: auto;
}


/* =========================
   CENTER SECTION
========================= */

.header-center h1 {

    font-family: 'Lilita One', sans-serif;

    font-size: 36px;

    margin: 0;

    color: #a62c2c;

    text-align: center;
}

.header-center h3 {

    font-family: 'Fredoka', sans-serif;

    font-size: 22px;

    font-weight: 400;

    margin-top: 8px;

    color: #6b4f3b;

    text-align: center;
}


/* =========================
   RIGHT SECTION
========================= */

.header-right img {
    width: 180px;

    height: auto;
}

/* =========================
   OVERVIEW SECTION
========================= */

.overview-section {
    height: 350px;

    display: grid;

    grid-template-columns: 1fr 1fr 1.6fr 1fr;

    gap: 25px;

    padding: 20px 30px;


    background-color: #f6f1e9;

    box-sizing: border-box;

    overflow: hidden;
}

.burger-image-box,
.dotmap-box {
    height: 100%;
    overflow: hidden;
}

.intro-text-box, .map-text-box {
    display: flex;

    flex-direction: column;

    justify-content: center;

    padding: 20px;

    box-sizing: border-box;

    text-align: justify;
}

.burger-image-box,
.dotmap-box {
    height: 100%;
    overflow: hidden;
    background-color: #faeab4;
    border-radius: 20px;
}

.burger-image-box img {
    width: 100%;

    height: 100%;

    object-fit: cover;
}

.overview-section h3 {
    margin: 0 0 12px 0;

    color: #a62c2c;

    font-size: 18px;
}

.overview-section p {
    margin: 0;

    font-size: 14px;

    line-height: 1.4;
}

/* Dot map container */
.dotmap-box {
    display: flex;

    flex-direction: column;

    align-items: center;
}

#dot-map {
    width: 100%;

    height: 270px;
}

/* =========================
   FAST FOOD CONSUMPTION SECTION
========================= */

.fastfood-section-part1 {
    height: 350px;

    display: grid;
    grid-template-columns: 1.1fr 0.7fr 1.2fr;

    gap: 20px;

    padding: 10px 20px;

    background-color: #f6f1e9;

    box-sizing: border-box;

    overflow: hidden;
}

.fastfood-text-box {
    display: flex;

    flex-direction: column;

    justify-content: center;

    padding: 20px;

    box-sizing: border-box;

    text-align: justify;
}

.fastfood-chart-box {
    background-color: #faeab4;
    border-radius: 22px;
    padding: 16px;
    box-sizing: border-box;
    overflow: hidden;
}

.fastfood-section-part1 h2 {
    margin: 0 0 15px 0;

    color: #a62c2c;

    font-size: 18px;
}

.fastfood-section-part1 p {
    margin: 0;

    font-size: 14px;

    line-height: 1.35;
}

#pie-chart {
    width: 100%;
    height: 280px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#bar-chart {
    width: 100%;
    height: 270px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* =========================
   FAST FOOD SECTION PART 2
========================= */

.fastfood-section-part2 {
    min-height: 420px;
    display: grid;
    grid-template-columns: 1.1fr 0.7fr 1.2fr;

    gap: 20px;

    padding: 10px 20px;

    border-bottom: 5px solid #6b4f3b;

    background-color: #f6f1e9;

    box-sizing: border-box;

    overflow: hidden;
}

.spending-lollipop-box,
.oecd-bar-box {
    background-color: #faeab4;
    border-radius: 22px;
    padding: 16px;
    box-sizing: border-box;
    overflow: hidden;
}

.fastfood-middle-text-box {
    display: flex;

    flex-direction: column;

    justify-content: center;

    padding: 20px;

    box-sizing: border-box;

    text-align: justify;
}

.fastfood-section-part2 h2 {
    margin: 0 0 15px 0;

    color: #a62c2c;

    font-size: 18px;
}

.fastfood-section-part2 p {
    margin: 0;

    font-size: 14px;

    line-height: 1.45;
}

#spending-lollipop-chart {

    width: 100%;

    height: 260px;

    overflow: hidden;
    margin-top: 30px;
}

#oecd-obesity-chart {
    width: 100%;
    height: 240px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

/* =========================
   OBESITY PARAGRAPH SECTION
========================= */

.obesity-paragraph-section {

    min-height: 130px;

    display: grid;

    grid-template-columns: 0.5fr 1.8fr 0.5fr;

    align-items: center;

    padding: 10px 20px;

    border-bottom: 5px solid #6b4f3b;

    background-color: #ffd23f;

    box-sizing: border-box;

    overflow: hidden;
}

.obesity-paragraph-left,
.obesity-paragraph-right {

    display: flex;

    justify-content: center;

    align-items: center;
}

.obesity-paragraph-left img,
.obesity-paragraph-right img {

    max-width: 100%;

    max-height: 90px;

    object-fit: contain;
}

.obesity-text-box {

    text-align: center;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;
}

.obesity-text-box h2 {

    margin: 0 0 10px 0;

    color: #a62c2c;

    font-size: 18px;
}

.obesity-text-box p {

    margin: 0;

    font-size: 14px;

    line-height: 1.5;
}

/* =========================
   HEALTH TREND SECTION
========================= */

.health-trend-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    height: 400px;
    padding: 10px 20px;

    background-color: #efe6d6;
    box-sizing: border-box;
}

.health-left{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 15px;

    height: 100%;
}

/* Chart + text boxes */
.text-box {
    border-radius: 22px;
    padding: 12px;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 16px;
}

.chart-box{
    border-radius: 22px;
    padding: 12px;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 12px;
}

.chart-box {
    background-color: #faeab4;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-box {
    background-color: #faeab4;

    border-radius: 22px;

    padding: 20px;

    box-sizing: border-box;

    width: 100%;

    flex: 1;

    display: flex;

    flex-direction: column;

    justify-content: center;
}

.health-right {
    display: flex;

    flex-direction: column;

    gap: 15px;

    justify-content: flex-start;
}


/* Headings */
.chart-box h2,
.text-box h2 {
    color: #a62c2c;
    margin: 0 0 10px 0;
    text-align: center;
}

/* Chart containers */
#line-chart-1,
#line-chart-2,
#dumbbell-chart {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Dumbbell legend */
.dumbbell-legend {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 25px;
    margin-bottom: 8px;

    font-size: 14px;
}

.legend-obese {
    width: 14px;
    height: 14px;

    background-color: #4b2e83;
    border-radius: 50%;

    display: inline-block;
}

.legend-overweight {
    width: 14px;
    height: 14px;

    border: 3px solid #e76f00;
    border-radius: 50%;

    background-color: #faeab4;

    display: inline-block;
}