/* =========================
   GENERAL PAGE STYLING
========================= */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    min-height: 100vh;

    overflow-y: auto;
    overflow-x: hidden;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f5ef;
}


/* =========================
   HEADER SECTION
========================= */

.main-header {
    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 20px 10px;

    height: 60px;

    border-bottom: 3px solid #4b2e83;

    background-color: #f8f5ef;
}


/* =========================
   LEFT SECTION
========================= */

.header-left img {
    width: 120px;

    height: auto;
}


/* =========================
   CENTER SECTION
========================= */

.header-center {
    text-align: center;

    flex: 1;
}

.header-center h1 {
    margin: 0;

    color: #4b2e83;

    font-size: 34px;

    font-weight: bold;

    line-height: 1.3;
}


/* =========================
   RIGHT SECTION
========================= */

.header-right img {
    width: 180px;

    height: auto;
}

/* =========================
   OVERVIEW SECTION
========================= */

.overview-section {
    height: 350px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 30px;

    padding: 15px 20px;

    border-bottom: 3px solid #4b2e83;

    background-color: #f8f5ef;

    box-sizing: border-box;

    overflow: hidden;
}

.overview-left {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 5px;

    height: 100%;

    overflow: hidden;
}

.overview-right {
    height: 100%;

    overflow: hidden;
}

.burger-image-box {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.burger-image-box img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.intro-text-box {
    height: 100%;

    overflow: hidden;
}

.intro-text-box h3,
.overview-right h3 {
    margin: 0 0 15px 0;

    color: #4b2e83;

    font-size: 20px;
}

.intro-text-box p {
    margin: 0;

    font-size: 14px;

    line-height: 1.35;
}

#dot-map {
    width: 100%;
    height: 280px;
}

/* =========================
   FAST FOOD CONSUMPTION SECTION
========================= */

.fastfood-section-part1 {
    height: 350px;

    display: grid;
    grid-template-columns: 1.2fr 0.6fr 1.2fr;

    gap: 10px;

    padding: 10px 20px;

    border-bottom: 3px solid #4b2e83;

    background-color: #f8f5ef;

    box-sizing: border-box;

    overflow: hidden;
}

.fastfood-chart-box,
.fastfood-text-box {
    height: 100%;

    overflow: hidden;
}

.fastfood-section-part1 h2 {
    margin: 0 0 15px 0;

    color: #4b2e83;

    font-size: 18px;
}

.fastfood-section-part1 p {
    margin: 0;

    font-size: 14px;

    line-height: 1.35;
}

#pie-chart {
    width: 100%;
    height: 260px;
}

#bar-chart {
    width: 100%;
    height: 260px;
}

/* =========================
   FAST FOOD SECTION PART 2
========================= */

.fastfood-section-part2 {
    height: 350px;

    display: grid;
    grid-template-columns: 1.2fr 0.6fr 1.2fr;

    gap: 30px;

    padding: 10px 20px;

    border-bottom: 3px solid #4b2e83;

    background-color: #f8f5ef;

    box-sizing: border-box;

    overflow: hidden;
}

.spending-lollipop-box,
.fastfood-middle-text-box,
.oecd-bar-box {
    height: 100%;

    overflow: hidden;
}

.fastfood-section-part2 h2 {
    margin: 0 0 15px 0;

    color: #4b2e83;

    font-size: 18px;
}

.fastfood-section-part2 p {
    margin: 0;

    font-size: 14px;

    line-height: 1.45;
}

#spending-lollipop-chart {

    width: 100%;

    height: 260px;

    overflow: hidden;
}

#oecd-obesity-chart {
    width: 100%;

    height: 230px;
    justify-content: center;
}

/* =========================
   OBESITY PARAGRAPH SECTION
========================= */

.obesity-paragraph-section {

    height: 120px;

    display: grid;

    grid-template-columns: 0.4fr 1.8fr 0.4fr;

    padding: 10px 20px;

    border-bottom: 3px solid #4b2e83;

    background-color: #f8f5ef;

    box-sizing: border-box;

    overflow: hidden;
}

.obesity-text-box {

    text-align: center;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;
}

.obesity-text-box h2 {

    margin: 0 0 10px 0;

    color: #4b2e83;

    font-size: 18px;
}

.obesity-text-box p {

    margin: 0;

    font-size: 14px;

    line-height: 1.5;
}

/* =========================
   LINE CHART SECTION
========================= */

.health-trend-section {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 10px;

    height: 600px;

    padding: 10px 20px;

    border-top: 4px solid #4b2e83;
}

.health-left,
.health-right {
    display: grid;

    grid-template-rows: 1fr 1fr;

    gap: 25px;

    height: 100%;
}

.chart-box,
.text-box {
    background-color: #f8f5ef;

    overflow: hidden;
}

.chart-box h2,
.text-box h2 {
    color: #4b2e83;

    margin-bottom: 15px;
}

.dumbbell-legend {
    display: flex;

    gap: 25px;

    margin-bottom: 10px;

    font-size: 14px;

    align-items: center;
}

.legend-obese {
    width: 14px;
    height: 14px;

    background-color: #4b2e83;

    border-radius: 50%;

    display: inline-block;
}

.legend-overweight {
    width: 14px;
    height: 14px;

    border: 3px solid #e76f00;

    border-radius: 50%;

    display: inline-block;

    background-color: #f8f5ef;
}